<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pendataan.pam.ambarawa">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        tools:replace="icon"
        android:icon="@drawable/ic_shield"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shield"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkirLPKedungpane">
        <activity android:name="pendataan.pam.ambarawa.ShowEmergencyCall">
            <intent-filter>
                <action android:name="BUKA_ACTIVITY_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pendataan.pam.ambarawa.ChangePin"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="pendataan.pam.ambarawa.Login"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pendataan.pam.ambarawa.MainActivity3"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="BUKA_ACTIVITY_LAPSUS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="pendataan.pam.ambarawa.MainActivity2"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="pendataan.pam.ambarawa.Welcome" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.camprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_photo_path" />
        </provider>

        <service
            android:name="pendataan.pam.ambarawa.ThisAppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>